
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility */

:root{
    --title: #e33371;
    --text: #ffffff;
    --card: #0f0e17;
    --link: #6fbfdd;
}

.clearfix:after{
    content:"";
    display:table;
    clear: both;
}

header, article{
    padding-top: 2em;
}

body{
    font-family: "Fredoka" , sans-serif;
}

/* contenitore del sito, centrato */

.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

/* fonts */

h1{
    color:var(--title);
    font-weight: bold;
}

h2{
    font-size: 1em;
}

h3{
    font-size: 0.7em;
    margin-top:5px;
}

a{
    font-size: 0.7em;
    text-decoration: none;
    color: var(--link);
}

/* card */

.card{
    display: flex;
    float:left;
    align-items: center;
    text-align: left;
    margin-top: 30px;
    margin-right:40px; 
    width: calc(100% / 3 - 40px);
    background-color: var(--card);
    color:var(--text);
}

.profile-pic{
    float:left;
    object-fit: scale-down;
    height: 80px;
    margin-right: 10px;
}

.info{
    float:left;
}